*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 50px;
}
.container{
    min-width: 500px;
    margin: 0 auto;
}
li{
    list-style: none;
}
.add-todo__input input{
width: 80%;
height: 50px;
}
.add-todo__btn{
width: 19%;
height: 50px;
background-color: lightgreen;
border: 2px solid lightgreen;
cursor: pointer;
}

.todo-block{
padding: 20px;
}
.todo-list{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.29);
}
.todo-item{
    display: flex;
    align-items: center;
    border: 1px solid silver;
    margin-bottom: 5px;
    padding: 5px;
}
.todo-item:nth-child(odd){
    background: rgb(240, 240, 240);
}
.todo-item__input{
padding: 0;
border:  none;
margin-right: 10px;
}
/* .todo-item__input input{} */
.todo-item__text{
    margin-right: auto;
}
/* .todo-item__btns{} */

.action-btn{
    border: none;
    padding: 10px;
}
.action-btn_del{
    color: red;
    font-size: 20px;
    border: none;
}


input:checked + p{
    text-decoration: line-through;
}